# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Build output
dist/
build/
.vite/
.vercel/

# Env & secrets
.env
.env.*

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
.vercel
